<% provide(:title, 'Contact Us') %>

  <br>  <h1>Contact Us</h1>
  </div>
</div>
<div id="map"></div>
        <script>
          function initMap() {
            var uluru = {lat: 25.802825, lng: -80.204354};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 17,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
          }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7ZBP8k-xxoRwydB36a1lkkkdiWf7rTYI&callback=initMap">
        </script>
      </body>
<div class="address"><p>Address: 549 NW 28th St, Miami, FL 33127</p></div>
<div class="phone"><p>Phone: (305) 720-2422</p></div>
