<% provide(:title, 'Contact Us') %>
<div class="container">
<img id="bakers" src="https://static.pexels.com/photos/264960/pexels-photo-264960.jpeg" alt"cookies">
  <div id="contacts_bakers" class="text-block">
    <h1>Contact Us</h1>
  </div>
</div>
<div id="map"></div>
<script>
function initMap(){
  var options = {
    zoom:2,
    center: {lat:25.7617, lng:-80.1918}
  }
  var map = new
  google.maps.Map(document.getElementById('map'), options);

}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7ZBP8k-xxoRwydB36a1lkkkdiWf7rTYI&callback=initMap">
    </script>
