<footer class="footer">
  <small>
  <a onclick="" class="btn btn-social-icon btn-lg btn-facebook"><i class="fa fa-facebook"></i></a>
  <a onclick="" class="btn btn-social-icon btn-lg btn-instagram"><i class="fa fa-instagram"></i></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",  root_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
  </nav>
</footer>
