// #bakers{
//   width: 100%;
//   height: auto;
//
// }
//
// #contacts_bakers {
//
//     position: absolute;
//     bottom: 200px;
//     right: 600px;
//     background-color: translcuent;
//     color: white;
//     margin-left: 100px;
//     // padding-right: 20px;
//
// }
  #map {
    margin-top: 50px;
    margin-left: 195px;
    margin-right: 100px;
    height: 400px;
    width: 70%;

}

.address p, .phone p{
margin-top: 20px; 
font-family: sans-serif;
font-size: 1.2em;
text-align: center;

}
