#bakers{
  width: 100%;
  height: auto;

}

#contacts_bakers {

    position: absolute;
    bottom: 200px;
    right: 600px;
    background-color: translcuent;
    color: white;
    margin-left: 100px;
    // padding-right: 20px;

}
